body {
  width: 100%;
  height: 4000px;
  //   background-image: url('../images/gradient-background.jpg');
  background-image: linear-gradient(
    rgba(0, 0, 255, 0.526),
    rgba(255, 255, 0, 0.5)
  );
}
